extends layout

block content

    br
    br
    br
    br
    br
    br
    br
    br
    h1 Bienvenido Usuario #{user.email}
    .carrito-container( ng-controller="carrito", ng-init="obten_productos()" )
        ol
            li(ng-repeat="producto in productos") 
                h1 {{producto.nombre}}
                h2 $ {{producto.precio}}
                h3 Stock: {{producto.cantidad-producto.compra}}
                input(type="number", min="0", max="{{producto.cantidad}}", ng-model="producto.compra")
                button(ng-click="aniadir(producto)") Añadir a carrito
                img(src="{{producto.imagen}}", height="200px")

    script(src="/javascripts/logicaFront/carrito.js")
