<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <div class="login-container">
        <div class="login-form">
            <form action="" method="post">
                <h2 class="text-center pb-3 mb-3">Iniciar Sesión</h2>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="login-user">@</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Usuario" aria-label="Usuario" aria-describedby="login-user" required="required">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="login-psw">**</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Contraseña" aria-label="Contraseña" aria-describedby="login-psw" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Iniciar</button>
                </div>
                <div class="clearfix">
                    <div class="row">
                        <div class="col-sm-4 form-check">
                            <input type="checkbox" class="form-check-input" id="remember">
                            <label class="form-check-label" for="remember">Recuerdame</label>
                        </div>
                        <div class="col-sm-8 text-right">
                            <a href="#">¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
            </form>
            <p class="text-center">
                <a href="#">Registrarse</a>
            </p>
        </div>
    </div>


    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>